.chart-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.chart-container h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.vis-plot {
  margin: 0 auto;
  width: 100%; /* El gráfico ocupará todo el ancho disponible */
  max-width: 800px; /* Max ancho para evitar que se haga demasiado grande */
  height: 400px; /* Ajusta la altura según tus necesidades */
}

.hint-content {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #333;
}

